.env
.venv/
__pycache__/
.pytest_cache/
*.pyc
*.log
logs/*
!logs/.gitkeep
output/*
!output/.gitkeep
etl/*/*
!etl/*/.gitkeep
!etl/gold/spark_output/
!etl/gold/spark_output/.gitkeep
node_modules/
web/dist/
*.egg-info/
.local-store/
